<app-search-bar
  [cryptos]="cryptos"
  (search)="onSearchCrypto($event)">
</app-search-bar>

<div class="crypto-container">
  <div *ngFor="let coin of cryptos" class="crypto-card" #cryptoCard>
    <img [src]="coin.image" alt="{{ coin.name }}" />
    <div class="crypto-info">
      <span class="name">{{ coin.name }}</span>
      <span class="price">${{ coin.current_price | number:'1.2-2' }}</span>
      <span *ngIf="coin.price_change_percentage_24h !== null"
            [ngClass]="{'up': coin.price_change_percentage_24h > 0, 'down': coin.price_change_percentage_24h < 0}">
        {{ coin.price_change_percentage_24h | number:'1.2-2' }}%
      </span>
    </div>
  </div>
</div>

<!-- Font moderno -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">